/* Define the color variable */
$bg-graylight: rgb(233, 236, 239);
$bg-footer: rgb(51,51,51);
$bg-image: url('@/assets/footer-image.jpg');
$bg-future-image: url('@/assets/future.jpg');
$bg-overlay: rgba(0, 0, 0, 0.2);
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

/* Apply it to a class */
.bg-graylight {
  background-color: $bg-graylight;
}

.bg-footer {
  background-color: $bg-footer;
}

.custom-subscribe {
  background-image: linear-gradient($bg-overlay, $bg-overlay), $bg-image;
}

.custom-arts {
  background-image: linear-gradient($bg-overlay, $bg-overlay), $bg-future-image;
}

.shadow {
  box-shadow: $box-shadow !important;
}